@model LoocERP.Models.MansioneMacchina




<div class="modal fade" id="modalMansioni_move" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crea Macchina</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <table id="mansionemacchina_sposta" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Codice</th>
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>Mansione associata</th>
                            <th class="hide-search"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function openModalSpostaMansioniMacchina(idMansione) {
        console.log(idMansione);
        var empModal = $('#modalMansioni_move');
        //$("mansioneId").val(idMansione);
        loadTable(idMansione);
        empModal.modal('show');
    }
    function moveCar(idCar,idMansione) {
        $.ajax({
            url: '/Mansione/ajaxMoveMacchinaMansione?idMacchina=' + idCar + "&idMansione=" + idMansione,
            type: 'get',
            success: function (data) {
                var empModal = $('#modalMansioni_move');
                empModal.modal('hide');
                reloadTable();
            }
        });
    }

    function loadTable(idMansione) {
        $('#mansionemacchina_sposta').DataTable().clear();
        $('#mansionemacchina_sposta').DataTable().destroy();

        var table = $('#mansionemacchina_sposta').DataTable({
            ajax: "/Mansione/ajaxMacchineSpostamento?id=" + idMansione,
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "columns": [

                { "data": "codice" },
                { "data": "name" },
                { "data": "description" },
                { "data": "mansione" },
                {
                    "data": null,
                    "name": "",
                    "render": function (data, type, row) {
                        
                        return '<span>' +
                            '<a class="col-1" class="delete-btn" onclick="moveCar(\'' + row.id + '\',\'' + idMansione + '\')"><i class="nav-icon fas fa-expand-arrows-alt"></i></a>' +
                            '</span>';
                    }
                }

            ],
            columnDefs: [

            ],
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            "autoWidth": false,
            "responsive": true,
            orderCellsTop: true,
            fixedHeader: true
        });
    }


</script>